.clip-divider {
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.responsive-grid {
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.grab {
  cursor:grab;
}

.grab:active {
  cursor:grabbing;
}

.tooltip-form {
  clip-path: polygon(0% 0%, 100% 0, 99% 83%, 57% 84%, 50% 100%, 43% 84%, 0 84%);
}

.modal-transform {
  transform:translate(-50%, -50%) !important;
}